In [1]:
# Импортируем библиотеку
import pandas as pd

In [2]:
# Загружаем данные в датафрейм
data = pd.read_csv('data_for_test_task.csv', sep=';')
data

,DOCUMENT_ID,LINE_ID,COL,VAL
0,0,1,ид_пациента,0
1,0,1,результат_иммунодиагностики_дата,27.05.2013
2,0,1,результат_иммунодиагностики_результат,положительная
3,0,2,результат_иммунодиагностики_дата,08.08.2014
4,0,2,результат_иммунодиагностики_результат,положительная
...,...,...,...,...
1048570,14804,1,результат_иммунодиагностики_результат,положительная
1048571,14805,1,ид_пациента,14805
1048572,14805,1,результат_иммунодиагностики_дата,29.03.2009
1048573,14805,1,результат_иммунодиагностики_результат,отрицательная
1048574,14805,2,результат_иммунодиагностики_дата,22.12.2010

In [3]:
data['CAT'] = data['COL'].map({'вид_вакцинации':'вакцинация', 
                           'вид_вакцинации_код':'вакцинация',
                           'дата_запрета':'запрет',
                           'медицинский_запрет_на_вакцинацию':'запрет',
                           'отказ_от_вакцинации':'отказ',
                           'подробности_вакцинации_дата':'вакцинация',
                           'подробности_вакцинации_кратность':'вакцинация',
                           'результат_иммунодиагностики_дата':'тубпроба',
                           'результат_иммунодиагностики_результат':'тубпроба',
                           'результат_иммунодиагностики_дата':'тубпроба',
                          })
data

,DOCUMENT_ID,LINE_ID,COL,VAL,CAT
0,0,1,ид_пациента,0,NaN
1,0,1,результат_иммунодиагностики_дата,27.05.2013,тубпроба
2,0,1,результат_иммунодиагностики_результат,положительная,тубпроба
3,0,2,результат_иммунодиагностики_дата,08.08.2014,тубпроба
4,0,2,результат_иммунодиагностики_результат,положительная,тубпроба
...,...,...,...,...,...
1048570,14804,1,результат_иммунодиагностики_результат,положительная,тубпроба
1048571,14805,1,ид_пациента,14805,NaN
1048572,14805,1,результат_иммунодиагностики_дата,29.03.2009,тубпроба
1048573,14805,1,результат_иммунодиагностики_результат,отрицательная,тубпроба
1048574,14805,2,результат_иммунодиагностики_дата,22.12.2010,тубпроба

In [4]:
# делать pivot по index = ['DOCUMENT_ID', 'LINE_ID', 'CAT'], columns='COL', values='VAL'

df = data.pivot(index=['DOCUMENT_ID', 'LINE_ID', 'CAT'], columns='COL', values='VAL')
df = df.reset_index()
df

COL,DOCUMENT_ID,LINE_ID,CAT,вид_вакцинации,вид_вакцинации_код,дата_запрета,ид_пациента,медицинский_запрет_на_вакцинацию,отказ_от_вакцинации,подробности_вакцинации_дата,подробности_вакцинации_кратность,результат_иммунодиагностики_дата,результат_иммунодиагностики_результат
0,0,1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,вакцинация,Туберкулез,80,NaN,NaN,NaN,NaN,02.06.2012,V1,NaN,NaN
2,0,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.05.2013,положительная
3,0,2,вакцинация,Полиомиелит,68,NaN,NaN,NaN,NaN,11.12.2012,V1,NaN,NaN
4,0,2,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08.08.2014,положительная
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316406,14804,1,NaN,NaN,NaN,NaN,14804,NaN,NaN,NaN,NaN,NaN,NaN
316407,14804,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.11.2017,положительная
316408,14805,1,NaN,NaN,NaN,NaN,14805,NaN,NaN,NaN,NaN,NaN,NaN
316409,14805,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.03.2009,отрицательная
316410,14805,2,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.12.2010,NaN

In [5]:
df1 = df[['DOCUMENT_ID', 'ид_пациента']]
df1 = df1.dropna()
df1

COL     DOCUMENT_ID ид_пациента
0                 0           0
18                1           1
39                2           2
55                3           3
77                4           4
...             ...         ...
316370        14801       14801
316372        14802       14802
316404        14803       14803
316406        14804       14804
316408        14805       14805

[14806 rows x 2 columns]

In [6]:
df = df.drop(columns='ид_пациента')
df = df.merge(df1, how='inner', on='DOCUMENT_ID')
df

COL,DOCUMENT_ID,LINE_ID,CAT,вид_вакцинации,вид_вакцинации_код,дата_запрета,медицинский_запрет_на_вакцинацию,отказ_от_вакцинации,подробности_вакцинации_дата,подробности_вакцинации_кратность,результат_иммунодиагностики_дата,результат_иммунодиагностики_результат,ид_пациента
0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,0,1,вакцинация,Туберкулез,80,NaN,NaN,NaN,02.06.2012,V1,NaN,NaN,0
2,0,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.05.2013,положительная,0
3,0,2,вакцинация,Полиомиелит,68,NaN,NaN,NaN,11.12.2012,V1,NaN,NaN,0
4,0,2,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08.08.2014,положительная,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316406,14804,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14804
316407,14804,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.11.2017,положительная,14804
316408,14805,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14805
316409,14805,1,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.03.2009,отрицательная,14805
316410,14805,2,тубпроба,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.12.2010,NaN,14805